body{
    background-color:#efefef;
    margin-bottom: 0;
    
}
div#container{
    display:grid;
    grid-template-rows:100%;
    grid-template-columns:20% 1fr 20%;
}
.box1{
    width:100%;
    height:100%;
    
    
}
.box2{
    position:relative;
    top:35%;
    width:100%;
    justify-items:end;
}
nav ul   {
    display:grid;
    grid-auto-flow: column;
    grid-gap:2%;
    
    
    list-style-type:none;
    text-align: center;
    justify-content:center;
    margin:0;
    padding:0;

    font-size:125%;
   
    
}
a{
    text-decoration:none;
    color:black;
    
    border-radius:10%;
}
a:hover, a:active {
    color: rgb(221, 151, 151);
  transform: rotateY(360deg)
  }


p{
    text-align:center;
    margin:0;
    padding:5%;
    font-size:medium;
   
}
footer ul{
    
    display:grid;
    grid-auto-flow:column;
    list-style-type:none;
    justify-content:center;
    margin:0;
    padding:0;
    border:0;
    height:10%;
}
header{
    background-color:#efefef;
    margin-bottom: 1%;
    
   
}
#copyright{
    margin:0;
    padding:0;
}
.profile{
    
}
#profiles{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size:100%;
     text-align: center;
}
body{
    margin:0;
}
footer{
    margin-top: 1%;
    bottom:0;
    width:100%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    
    }
    footer ul{
        
        display:grid;
        grid-auto-flow:column;
        list-style-type:none;
        justify-content:center;
        margin:0;
        padding:0;
        border:0;
       
    }
.contacts{
    display:grid;
    grid-auto-flow: column;
    justify-content:center;
    grid-gap:10%;
}
#copyright{
    margin:0;
    padding:0;
    text-align: center;
}
#legend{
    background-color: #cbc5cf;
    border-radius: 10px;
    font-size: 100%;
}
.leave{
        width:120%;
        border:2px solid #999;
        border-radius:8px;
        box-shadow:0 0 10px rgb(73, 73, 73);
        font-size:100%;
        
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input{
    width:100%;
    border-radius: 4px;
    border-width:thin ;
}
textarea{
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #f8f8f8;
}
.address{
    width:120%;
    list-style-type:none;
    justify-content: center;
   
}
#center{
    text-align: center;
}
.lists{
    margin:10%;
}
.submit{
     background:#cbc5cf;
     color:rgb(53, 13, 13);
     border-style:outset;
     border-color:#7cc0ee;
     height:50%;
     width:25%;
     font:bold 15px arial,sans-serif;
     text-shadow:rgb(132, 211, 211);
     align-items: center;
}