html{
    background: url("/image/6282.jpg") no-repeat center fixed ;
    background-size: cover;
}
body{
    
    margin-bottom: 0;
    
}
div#container{
    display:grid;
    grid-template-rows:100%;
    grid-template-columns:20% 1fr 20%;
}
.box1{
   
    align-self: center;
   
   
    
}
.box2{
    
    position: relative;
    top:25%;
    width:100%;
    
}
nav ul   {
    display:grid;
    grid-auto-flow: column;
    grid-gap:2%;
    
    
    list-style-type:none;
    text-align: center;
    justify-content:center;
    margin:0;
    padding:0;

    font-size:125%;
   
    
}

a{
    text-decoration:none;
    color:black;
    font-family: Snell Roundhand, cursive;
    
    border-radius:10%;
}
a:hover, a:active {
    font-size:xx-large;
  transform: rotateY(30deg);
  text-decoration: line-through 2px double rgb(32, 32, 32);
  z-index: -1;
  
  }
  @media screen and (max-width: 768px){
    /* (A) BREAK INTO VERTICAL MENU */
    nav ul   {
        display:grid;
        grid-auto-flow: row;
        grid-gap:1%;
        
        
        list-style-type:none;
        align-items: center;
    
        align-items: center;
        justify-content:center;
        margin:0;
        padding:0;
    
        font-size:125%;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
       
    } 
  }
p{
    text-align:center;
    margin:0;
    padding:5%;
    font-size:medium;
   
}
footer ul{
    
    display:grid;
    grid-auto-flow:column;
    list-style-type:none;
    justify-content:center;
    margin:0;
    padding:0;
    border:0;
    height:10%;
}
header{
    
    margin-bottom: 1%;
    
   
}
#copyright{
    margin:0;
    padding:0;
}
#services1{
    margin:5%;
    display:flex;
    gap:5%;
    width:100%;
    flex-wrap: wrap;  
}
.b1{
    width:35%;
}.columns{
    width:25%;
    
}
.price {
    list-style-type: none;
    
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 10px;
    width:100%;
    
  }
  .price .header {
    background-color: rgb(54, 228, 97);
    color: rgb(20, 18, 18);
    font-size:150%;
    border-radius: 10px;
    text-align: center;
  }
  
  /* List items */
  .price li {
    border: 1px solid rgb(19, 18, 18);
    
    text-align: center;
    border-radius: 10px;
    width:100%;
    height:100%;
  }
  
  /* Grey list item */
  
  
  /* The "Sign Up" button */
  .button {
    background-color: #04AA6D;
    border: none;
    color: white;
    
    text-align: center;
    text-decoration: none;
    
  }
#main{
    display: grid;
    grid-auto-flow: row;
    margin-top:10%;
    width:90%;
    
}
#tutorings{
    width:40%;
}
#hes{
    font-size:100%;
}