html{
    background: url("/image/6282.jpg") no-repeat center fixed ;
    background-size: cover;
}
body{
    
    margin-bottom: 0;
    
}
div#container{
    display:grid;
    grid-template-rows:100%;
    grid-template-columns:20% 1fr 20%;
}
.box1{
   
    align-self: center;
   
   
    
}
.box2{
    
    position: relative;
    top:25%;
    width:100%;
    
}
nav ul   {
    display:grid;
    grid-auto-flow: column;
    grid-gap:2%;
    
    
    list-style-type:none;
    text-align: center;
    justify-content:center;
    margin:0;
    padding:0;

    font-size:125%;
   
    
}

a{
    text-decoration:none;
    color:black;
    font-family: Snell Roundhand, cursive;
    -webkit-transition: font-size 2s ease-out;
    -moz-transition: font-size 2s ease-out;
    -o-transition: font-size 2s ease-out;
    transition: font-size 2s ease-out;
    
    border-radius:10%;
}
a:hover, a:active {
    font-size:xx-large;
  transform: rotateY(30deg);  
  }
  @media screen and (max-width: 768px){
    /* (A) BREAK INTO VERTICAL MENU */
    nav ul   {
        display:grid;
        grid-auto-flow: row;
        grid-gap:1%;
        
        
        list-style-type:none;
        align-items: center;
    
        align-items: center;
        justify-content:center;
        margin:0;
        padding:0;
    
        font-size:125%;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
       
    } 
  }
p{
    text-align:center;
    margin:0;
    padding:5%;
    font-size:medium;
   
}
footer ul{
    
    display:grid;
    grid-auto-flow:column;
    list-style-type:none;
    justify-content:center;
    margin:0;
    padding:0;
    border:0;
    height:10%;
}
header{
    
    margin-bottom: 1%;
    
   
}
#copyright{
    margin:0;
    padding:0;
}
#services1{
    padding:5%;
    display:flex;
    gap:5%;
    width:90%;
    flex-wrap: wrap;  
}
.b1{
    width:35%;
}.columns{
    width:25%;
    
   
}
.price {
    
    text-align: center;
    margin: 0;
    padding: 0;
   
    border-radius: 13px; 
    border-spacing: 0;
    width:100%;
    height:60%;
    border:solid 1px black;
  
  }
  tr td{
      border-radius: 13px;
  }
  .price .header {
    border-radius: 13px; 
    
    background-color: rgb(128, 197, 107);
    color: rgb(20, 18, 18);
    font-size:150%;
    
    text-align: center;
    padding:2%;
    
  }
  
  /* List items */
  
  
 
  
  
  /* The "Sign Up" button */
  .button {
    background-color: #9dc2b4;
    border: none;
    color: rgb(51, 148, 228);
    
    text-align: center;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
    
    
  }
  .button:hover{
    font-size: auto;
    background-color: darkslategray;
    transform: rotateY(30deg);
    text-decoration: none;
    z-index: -1;
  }
#main{
    display: grid;
    grid-auto-flow: row;
    margin-top:10%;
   
    
}
#tutorings{
    width:40%;
}
#hes{
    font-size:100%;
}