body{
    background-color:lightgray;
}
div#container{
    display:flex;
    gap:55%;
    background-color:lightgray;
    height:10%;
    margin-bottom:10px;
}
nav ul   {
    display:flex;
    gap:10%;
    list-style-type:none;
    justify-content:center;
    margin:0;
    padding:0;
   
    font-size:1.5em;
}
li{
    border-radius:5px;
    border-style:solid;
}
a{
    text-decoration:none;
}
p{
    text-align:center;
    margin:5%;
    font-size:medium;
}
footer ul{
    display:flex;
    gap:0.5%;
    list-style-type:none;
    justify-content:center;
    margin:0;
    padding:0;
    border:0;
    height:10%;
}
#education{
    display:flex;
    margin-left:10%;
    gap: 30%;
}
#expression{
    display:flex;
    margin-left:5%;
    gap: 15%;
}
h2{

    text-align:center;
}
.slide-container{
    width:276px;
    height:300px;
    margin-left:auto;
    margin-right:auto;
    overflow:hidden;
    position:relative;
    right:250px;
    }

.image-container{
    width: 100%;
display: flex;
animation: slide 10s infinite;
}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}
.image-slide{
    
    margin:10px;
    padding:0;
}
.tutoring{
    text-align:center;
    
}
.profile{
    position:relative;
    right:80px;
    top:5px;
    width:170px;
    height:170px;
    border-radius:50%;
}
#profiles{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:medium;
    text-align:center;
}