html{
    background: url("/image/6282.jpg") no-repeat center fixed ;
    background-size: cover;
}
body{
   
    margin-bottom: 0;
    
}
div#container{
    display:grid;
    grid-template-rows:100%;
    grid-template-columns:20% 1fr 20%;
}
.box1{
   
    align-self: center;
   
   
    
}.box2{
    
    position: relative;
    top:25%;
    width:100%;
    
}
nav ul   {
    display:grid;
    grid-auto-flow: column;
    grid-gap:2%;
    
    
    list-style-type:none;
    text-align: center;
    justify-content:center;
    margin:0;
    padding:0;

    font-size:125%;
   
    
}
a{
    text-decoration:none;
    color:black;
    font-family: Snell Roundhand, cursive;
    border-radius:10%;
}
a:hover, a:active {
    font-size:xx-large;
  transform: rotateY(30deg);
  text-decoration: line-through 2px double rgb(32, 32, 32);
  z-index: -1;
  
  }
  @media screen and (max-width: 768px){
    /* (A) BREAK INTO VERTICAL MENU */
    nav ul   {
        display:grid;
        grid-auto-flow: row;
        grid-gap:1%;
        
        
        list-style-type:none;
        align-items: center;
    
        align-items: center;
        justify-content:center;
        margin:0;
        padding:0;
    
        font-size:125%;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
       
    } }

p{
    text-align:center;
    margin:0;
    padding:5%;
    font-size:medium;
   
}
footer ul{
    
    display:grid;
    grid-auto-flow:column;
    list-style-type:none;
    justify-content:center;
    margin:0;
    padding:0;
    border:0;
    height:10%;
}
header{
  
    margin-bottom: 1%;
    
   
}
#copyright{
    margin:0;
    padding:0;
}

#profiles{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size:100%;
     text-align: center;
}
body{
    margin:0;
}
footer{
    margin-top: 1%;
    bottom:0;
    width:100%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    
    }
    footer ul{
        
        display:grid;
        grid-auto-flow:column;
        list-style-type:none;
        justify-content:center;
        margin:0;
        padding:0;
        border:0;
       
    }

.slider{
        width:38%;
        height:100%;
        margin-left:auto;
        margin-right:auto;
        overflow:hidden;
        
        
        }
.images{
            
        display: flex;
        animation: slide 10s infinite;
        }
.m{
        width:100%;
    }


@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}

.work1{
    width:80%;
}
#copyright{
    margin:0;
    padding:0;
}